<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
</head>
<body>
<div id="nav-menu" align="center">
    <table>
        <tr>
            <td>Меню -></td>
            <td><a th:href="@{/}">Главная</a></td>
            <td><a th:href="@{/products}">Товары</a></td>
            <td sec:authorize="hasAnyAuthority('ADMIN','MODERATOR')"><a th:href="@{/admin}">Админ</a></td>
            <td><a th:href="@{/bucket}">Корзина</a></td>
            <td sec:authorize="isAuthenticated()"><a th:href="@{/orders}">Заказы</a></td>
        </tr>
        <tr sec:authorize="isAuthenticated()">
            <td>
                Привет, <a th:href="@{/users/profile}">профиль</a> <span sec:authentication="principal.username">Логин</span>
                <a th:href="@{/logout}">Выйти</a>
            </td>
        </tr>
        <tr sec:authorize="!isAuthenticated()">
            <td>
                Здравствуй, гость. <a th:href="@{/login}">Войти</a> или <a th:href="@{/registration}">Регистрация</a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>