<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">

    <title>Все пользователи</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="2">
    <tr>
        <td>
            Логин
        </td>
        <td>
            Адрес
        </td>
        <td>
            Телефон
        </td>
        <td>
            Почта
        </td>
        <td sec:authorize="hasAnyAuthority('ADMIN')">
            Действие
        </td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">        </td>
        <td th:text="${user.address}">        </td>
        <td th:text="${user.phone}">        </td>
        <td th:text="${user.email}">        </td>
        <td sec:authorize="hasAnyAuthority('ADMIN')"> <a th:href="@{/admin/remove/{username}(username = ${user.username})}">Удалить</a>        </td>
    </tr>
</table>


</body>
</html>