<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<h3>Добавить товар</h3>

<div th:if="${error != null}" th:text="${error}"></div>

<form th:action="@{/admin/all-product}" th:object="${newProduct}" method="post">
    <input type="hidden" th:field="*{id}">
    <label>Название товара
        <input type="text" th:field="*{title}">
    </label>
    <br>
    <label>Цена
        <input type="text" th:field="*{price}">
    </label>
    <br>
    <label>Категории
        <select th:field="*{category}" >
            <option th:each="category : ${allCategory}"
                    th:value="${{category.title}}"
                    th:text="${category.title}"
            ></option>
        </select>
    </label>
    <div th:switch="${newProduct.id == null}">
        <div th:case="true">
            <button type="submit">Добавить</button>
        </div>
        <div th:case="false">
            <button type="submit">Изменить</button>
        </div>
    </div>

</form>


<h3>Все товары</h3>
<table border="2" align="center">
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Цена</td>
        <td>Категория</td>
        <td>Действие</td>
    </tr>
    <tr th:each="product : ${allProduct}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.title}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category}"></td>
        <td>
            <button type="button" th:onclick="|window.location.href='/admin/all-product/delete-${product.id}'|"> Удалить </button>
            <button type="button" th:onclick="|window.location.href='/admin/all-product/update-${product.id}'|"> Изменить </button>
        </td>
    </tr>
</table>


</body>
</html>