<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div th:switch="${bucket.getBucketDetails().isEmpty()}">
    <div th:case="${true}">
        <h3>Ваша корзина пуста, бегом заказывать <a th:href="@{/products}">товары</a> </h3>
    </div>
    <div th:case="${false}">
        <h3>Ваша корзина</h3>
        <h2>Сумма заказа -> <b th:text="${bucket.sum}"></b></h2>
        <table border="2" align="center">
            <tr>
                <td>Товар</td>
                <td>Количество</td>
                <td>Цена</td>
                <td>Сумма</td>
                <td>Действие</td>
            </tr>
            <tr th:each="detail : ${bucket.bucketDetails}">
                <td th:text="${detail.title}"></td>
                <td th:text="${detail.amount}"></td>
                <td th:text="${detail.price}"></td>
                <td th:text="${detail.sum}"></td>
                <td><a th:href="@{/bucket/delete-{title}(title=${detail.title})}">Удалить</a></td>
            </tr>
            <tr sec:authorize="isAuthenticated()">
                <td colspan="5">
                    <a th:href="@{/orders/new}">Купить</a>
                </td>
            </tr>
            <tr sec:authorize="!isAuthenticated()">
                <td colspan="5">
                    Для покупки вам необходимо <a th:href="@{/login}">Войти</a> или <a th:href="@{/registration}">Регистрация</a>
                </td>
            </tr>
        </table>
    </div>

</div>


</body>
</html>