<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">

    <title>Админка</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<h3>Админка</h3>
<table>
    <tr sec:authorize="hasAnyAuthority('ADMIN')">
        <td>
            <a th:href="@{admin/new-moderator}">Добавить нового модератора</a>
        </td>
    </tr>
    <tr sec:authorize="hasAnyAuthority('ADMIN')">
        <td>
            <a th:href="@{admin/all-moderators}">Посмотреть всех модераторов</a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{admin/all-users}">Посмотреть всех пользователей</a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{admin/all-orders}">Посмотреть все заказы</a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{admin/all-categories}">Посмотреть все категории</a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{admin/all-product}">Посмотреть все товары</a>
        </td>
    </tr>
</table>

</body>
</html>