<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">

    <title>E shop</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<h3>Admin</h3>
<a th:href="@{admin/new-moderator}">Add new moderator</a>
<a th:href="@{admin/all-users}">View all users</a>
<a th:href="@{admin/all-moderators}">View all moderators</a>
<a th:href="@{admin/all-orders}">View all orders</a>
<a th:href="@{admin/all-categories}">View all categories</a>
<a th:href="@{admin/all-product}">View all product</a>




</body>
</html>