<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Заказы</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<h3>Ваши заказы</h3>
<div th:switch="${orders.isEmpty()}">
  <div th:case="false">
    <table border="2" align="center">
      <tr>
        <td>Логин</td>
        <td>Дата создания</td>
        <td>Адрес</td>
        <td>Детали товаров</td>
        <td>Сумма</td>
        <td>Статус</td>
        <td>Дата последнего изменения</td>
        <td>Действие</td>
      </tr>

      <tr th:each="order : ${orders}">
        <td th:text="${order.username}"></td>
        <td th:text="${order.getFormatDate(order.created)}"></td>
        <td th:text="${order.address}"></td>
        <td>
          <table>
            <tr>
              <td>Товар</td>
              <td>Цена</td>
              <td>Количество</td>
            </tr>
            <tr th:each="product : ${order.details}">
              <td th:text="${product.product.getTitle()}"></td>
              <td th:text="${product.price}"></td>
              <td th:text="${product.amount}"></td>
            </tr>
          </table>
        </td>
        <td th:text="${order.sum}"></td>
        <td th:text="${order.status}"></td>
        <td th:text="${order.getFormatDate(order.updated)}"></td>
        <td>
          <a th:href="@{/orders/cancel-status/{id}(id=${order.id})}">Отменить заказ</a>
        </td>
      </tr>
    </table>
  </div>
  <div th:case="true">
    <table border="2" align="center">
      <tr>
        <td>Логин</td>
        <td>Дата создания</td>
        <td>Адрес</td>
        <td>Детали товаров</td>
        <td>Сумма</td>
        <td>Статус</td>
        <td>Дата последнего изменения</td>
      </tr>
      <tr>
        <td colspan="7">
          <h3>У вас нет заказов, бегом заказывать <a th:href="@{/products}">товары</a> </h3>
        </td>
      </tr>
    </table>
  </div>

</div>



</body>
</html>